// 文字单行省略
@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 文字多行省略 : 仅支持 webkit 内核，其它内核只会省略，不会出现省略号
@mixin multi-ellipsis($line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}
