@import "./theme/default";

// Padding
$padding-base: 4px;
$padding-xs: $padding-base * 2; // 8
$padding-sm: $padding-base * 3; // 12
$padding-md: $padding-base * 4; // 16
$padding-lg: $padding-base * 6; // 24
$padding-xl: $padding-base * 8; // 32

// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
$rich-text-font-family: 'Chinese Quote', 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji';
$price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
$code-font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Line Height
$line-height-base: 1.5715;  /* 由 22 / 14 而来，表示字体大小为 14 时，行高为 22 */

// BorderRadius
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-max: 999px;
